<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="views/fragments :: head">
   <meta charset="UTF-8">
   <title>Guardian Premier Solutions</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">Guardian Premier Solutions</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
         <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
         </li>
      </ul>
   </div>
</nav>

<th:block th:include="views/fragments :: scripts"/>
</body>
</html>