<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="views/fragments :: head">
   <meta charset="UTF-8">

   <title>Guardian Premier Solutions</title>
</head>
<body>
<nav th:insert="views/fragments :: navbar"></nav>

<!--jumbotron-->

<div class="jumbotron jumbotron-fluid landing-header d-md-block d-none">
   <div class="container">
      <div class="row justify-content-center align-items-center">
         <h1 class="col d-flex justify-content-end display-4 text-light">
            "Together we perform better"</h1>
      </div>
   </div>
</div>
<div class="jumbotron jumbotron-fluid landing-header d-block d-md-none" style="height: 5vh;">
   <div class="container">
      <div class="row justify-content-center align-items-center">
         <h1 class="col d-flex justify-content-end display-4 text-light">
            "Together we perform better"</h1>
      </div>
   </div>
</div>

<!-- mission, focus, performance cards-->
<div class="container mt-3">
   <div class="card-deck">
      <div class="card">
         <div class="card-body ">
            <h5 class="card-title">GPS Mission</h5>
            <img src="img/human-body.png" class="card-img-top img-fluid "
                 alt="evolved human">
            <p class="card-text">Our main goal is to advance the evolution of
               human
               performance.</p>
            <p class="card-text">GPS exists to reduce human error through
               innovative methodologies and to improve real life outcomes for
               stressful occupations in any condition or environment.</p>
         </div>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none mb-4"></div>
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">GPS Focus Area</h5>
            <img src="img/meeting.png" class="card-img-top img-fluid"
                 alt="meeting">
            <p class="card-text">We provide human performance optimization
               training, education and research solutions.</p>
            <p class="card-text">GPS customers benefit from our key focus
               areas and
               our ability to develop proactive processes to meet future
               demands.</p>
         </div>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none mb-4"></div>

      <div class="card">
         <div class="card-body">
            <h5 class="card-title">GPS Performance</h5>
            <img src="img/gears.png" class="card-img-top img-fluid"
                 alt="gears">
            <p class="card-text">Our uniquely qualified past and current
               performance aligns with existing and emerging require-ments
               for
               human performance.</p>
            <p class="card-text">GPS delivers best value products and
               services that
               are reliable, recent and relative.</p>
         </div>
      </div>
   </div>
</div>

<footer th:insert="views/fragments :: footer"></footer>
<th:block th:include="views/fragments :: scripts"/>
</body>
</html>