* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}
.landing-header {
    background-image: url("../img/landing-header-img.png");
    background-size: cover;
    padding: 12rem 0;
}
body {
    background-color: #DDDDDD;
}

.landing-images {
    max-height: 212px;
    max-width: 366px;
}
.card {
    box-shadow: 2px 2px 3px 1px darkgrey;
    max-width: 25%;
}

